@model IEnumerable<Dominio.Produto>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @Html.ActionLink("Novo Cadastro", "Cadastrar")
</p>
<p>
    @using (Html.BeginForm("Index", "Produto", FormMethod.Get))
    {
        <text>Pesquisar por Nome</text>@Html.DropDownList("pesquisa", new SelectList(ViewBag.Nome), string.Empty)
        <input type="submit" value="Buscar" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponivel)
        </th>
        <th>
            @Html.ActionLink("Cliente", "Index", new { ordem = ViewBag.Nome })
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { ordem = ViewBag.Data })
        </th>
        <th>Ações</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.DataCadastro)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ProdutoId }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.ProdutoId }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.ProdutoId })
            </td>
        </tr>
    }

</table>
